{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }} | NUAM</title>
    <link rel="stylesheet" href="{% static 'css/form_client.css' %}">
</head>
<body>

    <div class="form-container">
        <img src="{% static 'images/Nuam_logo-transparente.png' %}" alt="Nuam Logo" id="logo">
        
        <h2>{{ titulo }}</h2>
        <p class="subtitle">Complete los datos para registrar un cliente</p>

        <form method="POST" action="{{ action }}">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="errorlist">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}
            <div class="form-group">
                {{ field }} {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>• {{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" id="boton">Guardar Cliente</button>
        </form>

        <a href="{% url 'holder' %}" class="back-link">
            ← Volver al Mantenedor
        </a>
    </div>

</body>
</html>