{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="register-card">
        <img src="{% static 'images/Nuam_logo-transparente.png' %}" alt="Nuam logo blanco" id="logo">
        <div id="linea"></div>
        <h2>Registro en NUAM</h2>
        <input type="text" class="campo" alt="nombre" placeholder="Nombre completo">
        <input type="email" class="campo" alt="correo" placeholder="Correo Electrónico">
        <input type="password" class="campo" alt="contraseña" placeholder="Contraseña">
        <input type="password" class="campo" alt="Rcontraseña" placeholder="Repetir Contraseña">
        <a href="{% url 'holder' %}" id="boton">Registrate</a>
        <p alt="más opciones"><a href="{% url 'login' %}">¿Ya tienes cuenta? Inicia Sesión</a></p>
    </div>
</body>
</html>