html, body {
    /* Ocupa toda la pantalla para medir los otros parametros */
    height: 100vh;

    background-color: rgba(208, 208, 208, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    /* quita el efecto de link */
    text-decoration: none;
    color: inherit;
}

.login-card {
    width: 350px;
    padding: 30px auto;
    background-color: white;
    border-radius: 15px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#linea {
    height: 4px;
    width: 90px;
    background-color: rgba(255, 68, 3, 1);
    border-radius: 15px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding-bottom: 10px;
    text-align: center;
}

.campo {
    width: 80%;
    padding: 15px 15px ;
    margin-bottom: 7px;

    border: 1px solid #ccc;
    border-radius: 5px;

    box-sizing: border-box;
}

#boton {
    width: 80%;
    padding: 15px;
    background-color: rgba(255, 68, 3, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

#boton:hover {
    background-color: rgba(200, 50, 0, 1);
}

p {
    color: rgba(255, 68, 3, 1);
    font-family: Arial, Helvetica, sans-serif;
}