html, body {
    height: 100vh;
    background-color: rgba(208, 208, 208, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.login-card {
    width: 350px;
    padding: 30px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Aca se centra el los campos y bot칩n */
}

#logo {
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#linea {
    height: 4px;
    width: 90px;
    background-color: rgba(255, 68, 3, 1);
    border-radius: 15px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding-bottom: 10px;
    text-align: center;
}

/* Estilos mejorados para los campos de formulario para que se vean bien*/
.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"],
.login-card input:not([type="submit"]) {
    width: 80%;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 15px; /* M치s espacio entre campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: block;
    outline: none;
}

/* Totalmente Opcional:efecto al enfocar */ 
.login-card input:focus {
    border-color: rgba(255, 68, 3, 1);
    box-shadow: 0 0 4px rgba(255, 68, 3, 0.5);
}

/* Bot칩n */
#boton {
    width: 80%;
    padding: 15px;
    background-color: rgba(255, 68, 3, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px; /* Separaci칩n del enlace de registro */
}

#boton:hover {
    background-color: rgba(200, 50, 0, 1);
}

p {
    color: rgba(255, 68, 3, 1);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    width: 80%;
}

/* Errores de Django */
ul.errorlist {
    list-style: none;
    padding: 0;
    margin: -10px 0 10px 0; /* Ajusta el margen para no interferir con el espaciado de los inputs */
    width: 80%;
    color: red;
    font-size: 14px;
}